@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}
body{
  font-family: 'Caprasimo', cursive;
  margin: 0;
  padding: 0;
  background-color: rgb(42, 42, 42);
  color: white;
}



article .material-symbols-outlined {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: rgb(255 255 255 / 80%);
  border-radius: 50%;
  font-size: 28px;
}

article img {
  translate: -50% -50%;
}

.stickyPos {
  position: absolute;
  top: 50%; /* Adjust this value to control the vertical position of the half circle */
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 200px; /* Adjust this value to control the height of the half circle */
  width: 100%; /* Adjust this value if needed based on your layout */
}
