.cvbutton{
display: inline-flex;
color: var(--deafaultColor);
cursor: pointer;
font-size: 30px;
font-family: 'Gentium Plus', serif;
height: 70px;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -100px;
position: absolute;
}

.cvbutton:hover{
    color: var(--hoverColor);
    transition: 600ms;
}

.cvbutton > .btntxt {
    margin-left: 5px;
    line-height: 30px;
}

