@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@1,700&display=swap');

nav{
  background-color: inherit;
  overflow: hidden;
}

nav > ul{
  float: right;
}

nav > ul > button{
  color: var(--deafaultColor);
  text-decoration: none;
  margin-right: 20px;
  border: none;
  background-color: inherit;
  font-size: larger;
  font-family: 'Gentium Plus', serif;
  cursor: pointer;
  padding: 4px 10px;
}
nav > ul > button:hover{
  color: var(--hoverColor);
  transform: rotateX(360deg);
  transition: 1000ms;
}
.menu{
  display: none;
}
.logo{
  color: var(--deafaultColor);
  float: left; 
  margin: 25px;
}

@media screen and (max-width: 500px){
  nav{
    height: 50px;
    
  }
  
  nav > ul{
   
    display: grid;
    position:absolute;
    width: 100%;
    margin-top: 50px;   

  }
  nav > ul > button{
    margin-top: 20px;
    padding-bottom: 20px;
  }
 
  .menu {
    color: var(--deafaultColor);
    padding: 12px;
    float: right;
    display: block;
    border: none;
    background-color: inherit;
    cursor: pointer;
    
}
.menu:hover{
  transform: rotateZ(360deg);
  transition: 700ms;
}
.logo{ 
  margin: 15px;
}
}